.card {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: #C9D8B6;
}

#ribbon {
    width: 50px;
    padding: .34em 1em;
    margin: 0;
    position: relative;
    color: #ffffff;
    font: 20px 'Patua One', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3),
        inset 0px 0px 20px rgba(0, 0, 0, 0.1),
        0px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(top, #1eb2df, #17a7d2);
    display: inline-block;
}

#ribbon:before {
    content: "";
    width: .2em;
    bottom: -.5em;
    position: absolute;
    display: block;
    border: .9em solid #1eb2df;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    z-index: -2;
}

#ribbon:before {
    left: -1px;
    border-right-width: .75em;
    border-left-color: transparent;
}


#content:before {
    content: "";
    bottom: -.5em;
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index: -1;
}

#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}

.card:hover {
    transform: scale(1.05)
}

img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    margin: auto;
}

@media (max-width: 800px) {
    .card {
        flex-direction: column;
    }
}